.padre
{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    height: 100vh;
}
.cuadrito
{
    margin: 5%;
    width: 70%;
    height: 60%;
    background-image: url(../../../assets/universidad.jpg);
    background-size: 100%;
    display: flex;
    justify-content: center;
    border-radius: 5%;
}
.botoncito
{
    margin-top: 2%;
    width: 50%;
    text-align: center;
}
