
<div class="padre">
    <div class="cuadrito">
        <div class="botoncito">
            <div class="form-group col-md-12">
                <h3>Crear laboratorio</h3>
                <input formControlName="asign" type="text" class="form-control" id="inputAddress" placeholder="Nombre">
            </div>
            <div class="form-group col-md-12">
                <select id="inputState" class="form-control">
                  <option selected>Seleccionar bloque</option>
                  <option>bloque 1</option>
                  <option>bloque 2</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary boton boton">Guardar</button>
        </div>
    </div>
</div>