
<div class="padre">
    <div class="cuadrito">
        <div class="botoncito">
            <form [formGroup]="form" class="form-group col-md-12">
                <h3>Crear bloque</h3>
                <input formControlName="asign" type="text" class="form-control" id="inputAddress" placeholder="Nombre">
            </form>
            <div class="form-group col-md-12">
                <select id="inputState" class="form-control">
                  <option selected>Seleccionar facultad</option>
                  <option value = "{{option.value}}" *ngFor = "let option of faculties">{{option.name}}</option>

                </select>
            </div>
            <button type="submit" class="btn btn-primary boton boton">Guardar</button>
        </div>
    </div>
</div>