<div class="padre">
    <div class="lista">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputState">Id laboratorio</label>
                <select id="inputState" class="form-control" >
                    <option selected>Seleccionar</option>
                    <option  *ngFor="let option of Laboratorio">{{option.Id}}</option>
                </select>
            </div>
        </div>
        <table class="table">
        <thead class="thead-dark" >
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>

        </tr>
        </thead>
        <tbody>
        <tr  *ngFor="let option of Laboratorio">
            <td>{{option.id}}</td>
            <td>{{option.name}}</td>

        </tr>
        </tbody>
        </table>
    </div>
  </div>
  